<mat-toolbar color="primary">

    <span><a mat-icon-button routerLink="/">Music Library App</a></span>

    <span class="example-spacer"></span>
    <span *ngIf="loggedin"><a mat-icon-button routerLink="/insertmusiclibrary">Insert Music Library</a></span>

    <span class="example-spacer"></span>
    <span *ngIf="loggedin" routerLink="/searchmusiclibrary"><a mat-icon-button >Search Music Library</a></span>
    <span class="example-spacer"></span>
    <span *ngIf="loggedin" routerLink="/dashboard"><a mat-icon-button >Dashboard</a></span>
    <span class="example-spacer"></span>
    <span *ngIf="loggedin" routerLink="/pagination"><a mat-icon-button >pagination</a></span>
    <span class="example-spacer"></span>
    <span><a mat-icon-button *ngIf="loggedin">User</a></span>
    <span *ngIf="!loggedin" routerLink="/login"><a mat-icon-button >Login</a></span>
    <span *ngIf="loggedin" (click)="logoutUser()"><a mat-icon-button >Logout</a></span>

</mat-toolbar>